In [1]:
import pandas as pd
pd.set_option('display.max_columns', 10)
pd.set_option('display.width', 350)
  
#read from google drive
df = pd.read_csv("https://drive.google.com/uc?export=download&id=1LU5be_H1TD2Pp1OmI202to3YyKo9AzFY")
  
print(df.head())

  country  age  new_user source  total_pages_visited  converted
0      UK   25         1    Ads                    1          0
1      US   23         1    Seo                    5          0
2      US   28         1    Seo                    4          0
3   China   39         1    Seo                    5          0
4      US   30         1    Seo                    6          0

In [2]:
df

       country  age  new_user  source  total_pages_visited  converted
0           UK   25         1     Ads                    1          0
1           US   23         1     Seo                    5          0
2           US   28         1     Seo                    4          0
3        China   39         1     Seo                    5          0
4           US   30         1     Seo                    6          0
...        ...  ...       ...     ...                  ...        ...
316195      US   26         1     Ads                    9          0
316196      US   27         1  Direct                    6          0
316197   China   25         0     Ads                    4          0
316198      US   22         0     Seo                    4          0
316199      UK   24         0     Ads                    4          0

[316200 rows x 6 columns]