In [1]:
from collections import defaultdict
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [114]:
# load mobility data
df_mob = pd.read_csv('/Users/parkj/Documents/pyDat/dataSet/COVID19_community_mobility_reports/Global_Mobility_Report_asof052021.csv', low_memory=False)
# load new cases data 
df_case = pd.read_csv('/Users/parkj/Documents/pyDat/dataSet/covid_19_data_OWID/covid-19-data-master/public/data/jhu/new_cases_per_million.csv', low_memory=False)
# load vaccination data 
df_vac = pd.read_csv('/Users/parkj/Documents/pyDat/dataSet/covid_19_data_OWID/covid-19-data-master/public/data/vaccinations/vaccinations.csv', low_memory=False)

In [3]:
# Rename the mobility time series column names
df_mob = df.rename(columns = {'retail_and_recreation_percent_change_from_baseline': 'rtrc', 
                             'grocery_and_pharmacy_percent_change_from_baseline': 'grph',
                             'parks_percent_change_from_baseline': 'prks',
                             'transit_stations_percent_change_from_baseline': 'tran', 
                             'workplaces_percent_change_from_baseline': 'work',
                             'residential_percent_change_from_baseline': 'resi'}, inplace = False)

In [4]:
places_id = df_mob.place_id.unique() # unique place ids

In [117]:
# organize data in Global Mobility Report
grouped = df_mob.groupby(df_mob.place_id)
mob_place = {} # global dict to contain all countries and regions
mob_country = {} # country dict to contain the national-level data (ignore local regions)
country_label = defaultdict(list)
for place in places_id:
    if pd.isna(place)==False:
        df_place = grouped.get_group(place)
        mob_thisPlace = {}
        countryId = df_place['country_region'].unique()[0]
        # get column-by-column information
        for col in df_place.columns:
            mob_thisPlace[col] = tuple(df_place[col]) # create dict per place with column-by-column info        
        if countryId in country_label.keys(): # 2nd occurrence onward contains regional data
            country_label[countryId] += 1
            countryStr = countryId + str(country_label[countryId])
            mob_place.update({countryStr : mob_thisPlace})
        else: # 1st occurrence of country contains national data
            country_label[countryId] = 0
            mob_country.update({countryId : mob_thisPlace})

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,rtrc,grph,prks,tran,work,resi
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3636,AE,United Arab Emirates,Umm Al Quawain,NaN,NaN,AE-UQ,NaN,ChIJP-14gXD99T4RGDyAmyB_vKE,2021-05-11,45.0,53.0,NaN,NaN,-27.0,13.0
3637,AE,United Arab Emirates,Umm Al Quawain,NaN,NaN,AE-UQ,NaN,ChIJP-14gXD99T4RGDyAmyB_vKE,2021-05-12,57.0,71.0,NaN,NaN,-41.0,17.0
3638,AE,United Arab Emirates,Umm Al Quawain,NaN,NaN,AE-UQ,NaN,ChIJP-14gXD99T4RGDyAmyB_vKE,2021-05-13,90.0,40.0,NaN,NaN,-61.0,19.0
3639,AE,United Arab Emirates,Umm Al Quawain,NaN,NaN,AE-UQ,NaN,ChIJP-14gXD99T4RGDyAmyB_vKE,2021-05-14,74.0,26.0,NaN,NaN,-5.0,NaN
3640,AE,United Arab Emirates,Umm Al Quawain,NaN,NaN,AE-UQ,NaN,ChIJP-14gXD99T4RGDyAmyB_vKE,2021-05-15,43.0,31.0,NaN,NaN,-11.0,9.0